@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Hero No. 2  Start -->

<!--Hero No. 2  End -->



<!--Shop features No. 4  Start -->

<!--Shop features No. 4  End -->



<!--Product collection No. 6  Start -->

<!--Product collection No. 6  End -->