<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopAdmin</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css" />
    <link rel="stylesheet" href="~/assets/libs/css/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />

    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css" />
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/vendor/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/buttons.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/select.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/fixedHeader.bootstrap4.css" />
    <style>
        .list-group img {
            width: 100%;
        }

        .this-is-pointer {
            cursor: pointer;
            padding-left: 10px;
        }

        .image-grid-list {
            width: 840px;
            display: flex;
            flex-wrap: wrap;
        }

        .image-grid-list-item {
            width: 140px;
            height: 140px;
            position: relative;
        }

        .image-remove {
            position: absolute;
            top: 4px;
            right: 8px;
            cursor: pointer;
        }

        .color-btn{
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .nav-left-sidebar .navbar-nav .nav-link:hover {
            background-color: #f5f8fc;
        }

    </style>

</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">Concept</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control"
                                       type="text"
                                       placeholder="Search.." />
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
              
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img"
                               href="#"
                               id="navbarDropdownMenuLink2"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <img src="assets/images/avatar-1.jpg"
                                     alt=""
                                     class="user-avatar-md rounded-circle" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                 aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="LogOut"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <div id="submenu-1-2" class="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Home" asp-action="Index">Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Brands" asp-action="Index">Brands</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Order" asp-action="Index">Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="ecommerce-product-checkout.html">Subscribers</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">Features</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/assets/libs/js/dashboard-ecommerce.js"></script>

    <script src="~/assets/vendor/parsley/parsley.js"></script>

    <script src="~/assets/vendor/multi-select/js/jquery.multi-select.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script>
        $('#summernote').summernote({
            placeholder: 'Description',
            tabsize: 2,
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
            ]
        });
    </script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            "use strict";
            window.addEventListener(
                "load",
                function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName("needs-validation");
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(
                        forms,
                        function (form) {
                            form.addEventListener(
                                "submit",
                                function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add("was-validated");
                                },
                                false
                            );
                        }
                    );
                },
                false
            );
        })();
    </script>
    <script>
        $("#form").parsley();
    </script>
    <script>
        jQuery(
            '<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>'
        ).insertAfter(".quantity input");
        jQuery(".quantity").each(function () {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find(".quantity-up"),
                btnDown = spinner.find(".quantity-down"),
                min = input.attr("min"),
                max = input.attr("max");

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });
    </script>
    <script>
        $('input[name="Images"]').change(function () {
            var files = $(this).prop('files');
            $.each(files, function (index, file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var imageSrc = event.target.result;
                    var imageName = file.name;
                    var listItem = '<div class="image-grid-list-item"><button type="button" class="list-group-item align-items-center list-group-item d-flex p-0 list-group-item-action"><img class="w-100" src="' + imageSrc + '" alt="' + imageName + '" /><span id="image-list-button" type="button" class="text-danger image-remove">X</span></button></div>';
                    $('#image-list').append(listItem);
                }
                reader.readAsDataURL(file);
            });
        });

        $(document).on('click', '.image-remove', function () {
            var listItem = $(this).closest('.image-grid-list-item');
            var index = $('.image-grid-list-item').index(listItem);
            // remove the corresponding image from the array list using the index
            // images.splice(index, 1);
            listItem.remove();
        });
    </script>

    <script>
        var specifications = [];

        $('#add-specification').click(function () {
            var specification = $('#specifications').val();
            if (specification) {
                specifications.push(specification);
                $('#specification-list').append('<li class="p-2 border-0 list-group-item">' + specification + ' <span role="button" class="text-danger this-is-pointer remove-specification">X</span> </li>');
                $('#specifications').val('');
                updateSpecifications();
            }
        });

        $(document).on('click', '.remove-specification', function () {
            var index = $(this).closest('li').index();
            specifications.splice(index, 1);
            $(this).closest('li').remove();
            updateSpecifications();
        });

        function updateSpecifications() {
            $('input[name="Specifications"]').remove();

            $.each(specifications, function (index, specification) {
                $('<input>').attr({
                    type: 'hidden',
                    name: 'Specifications[' + index + '].Name',
                    value: specification
                }).appendTo('form');
            });
        }
    </script>
    <script>
        var colors = [];

        $('#add-color').click(function () {
            var color = $('#colors').val();

            if (color) {
                colors.push(color);
                switch (color) {
                    case "#27242D":
                        color = "Black"
                        break;
                    case "#F6F2EF":
                        color = "White"
                        break;
                    case "#094067":
                        color = "Blue"
                        break;
                    case "#F4E8CE":
                        color = "Gold"
                        break;
                    case "#5B5265":
                        color = "Deep Purple"
                        break;
                    case "#F0F2F1":
                        color = "Silver"
                        break;
                    case "#444341":
                        color = "Space Black"
                        break;
                    case "#BAB1E8":
                        color = "Purple"
                        break;
                    case "#D9F0D6":
                        color = "Green"
                        break;
                    case "#FAE1DC":
                        color = "Pink"
                        break;
                    case "#D73131":
                        color = "Red"
                        break;
                }

                $('#color-list').append('<li class="p-2 border-0 list-group-item">' + color + ' <span role="button" class="text-danger this-is-pointer remove-color">X</span> </li>');
                $('#colors').val('');
                updateTags();
            }
        });

        $(document).on('click', '.remove-color', function () {
            var color = $(this).closest('li').text().trim(); // get the text content of the color
            var index = colors.indexOf(color); // search for the index of the color in the array
            if (index > -1) {
                colors.splice(index, 1); // remove the color from the array
            }
            $(this).closest('li').remove(); // remove the color from the list
            updateTags();
            console.log(colors);
        });

        function updateTags() {
            $('input[name="Colors"]').remove();
            $.each(colors, function (index, color) {
                $('<input>').attr({
                    type: 'hidden',
                    name: 'Colors[' + index + '].ColorCode',
                    value: color
                }).appendTo('form');
            });
        }

    </script>
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.href;

            $('.nav-link').each(function () {
                var linkUrl = $(this).attr('href');

                if (currentUrl.includes(linkUrl)) {
                    if (linkUrl.includes('Products')) {
                        $(this).addClass('active products');
                    } else if (linkUrl.includes('Order')) {
                        $(this).addClass('active orders');
                    } else if (linkUrl.includes('Categories')) {
                        $(this).addClass('active');
                    } else if (linkUrl.includes('Brands')) {
                        $(this).addClass('active');
                    } else if (currentUrl === "https://localhost:7268/")
                        $(this).addClass('active');
                }
            });
            console.log(currentUrl);
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
