@model ShopAdmin.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Add Product</h2>
                    <p class="pageheader-text">
                        Proin placerat ante duiullam scelerisque a velit ac porta,
                        fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.
                    </p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-action="Index" class="breadcrumb-link">Products</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Add Product
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->

        <div class="row">
            <!-- ============================================================== -->
            <!-- validation form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" class="needs-validation" enctype="multipart/form-data" novalidate>
                            <div class="row pb-3">
                                <div class="col w-50">
                                    <div class="row pb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label for="validationCustom01">Title</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="validationCustom01"
                                                   placeholder="Title"
                                                   asp-for="Title"
                                                   required />
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label for="validationCustom02">Brand Name</label>
                                            <select asp-for="BrandId" class="form-control" asp-items="@ViewBag.BrandId"></select>
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                    </div>

                                    <div class="row pb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label for="validationCustom02">Category</label>
                                            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId"></select>
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                    </div>

                                    
                                    <div class="row pb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label for="validationCustom03">Picture</label>
                                            <input type="file" name="Images"
                                                   class="form-control"
                                                   id="validationCustom03"
                                                   placeholder="Picture"
                                                   required multiple />
                                            <div id="image-list" class="p-0 image-grid-list mt-3"></div>
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label for="validationCustom09">Colors</label>
                                            <div class="d-flex">
                                                <select class="form-control"
                                                        id="colors"
                                                        aria-label="Default select example">
                                                    <option selected>Select Color</option>
                                                    <option value="#27242D">Black</option>
                                                    <option value="#F6F2EF">White</option>
                                                    <option value="#094067">Blue</option>
                                                    <option value="#F4E8CE">Gold</option>
                                                    <option value="#5B5265">Deep Purple</option>
                                                    <option value="#F0F2F1">Silver</option>
                                                    <option value="#444341">Space Black</option>
                                                    <option value="#BAB1E8">Purple</option>
                                                    <option value="#D9F0D6">Green</option>
                                                    <option value="#D73131">Red</option>
                                                    <option value="#FAE1DC">Pink</option>
                                                </select>
                                                <button type="button" class="btn color-btn btn-primary ms-4" id="add-color">Add</button>
                                            </div>
                                            <ul id="color-list" class="list-group border-0"></ul>
                                            <input type="hidden" asp-for="Colors" /> 
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="summernote">Description</label>
                                        <textarea asp-for="Description" class="form-control" placeholder="Description" id="summernote" required></textarea>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                        <label for="Specifications">Specifications</label>
                                        <div class="d-flex gap-3">
                                            <input class="form-control me-4" type="text" id="specifications" />
                                            <button type="button" class="btn btn-primary" id="add-specification">Add</button>
                                        </div>
                                        <ul id="specification-list" class="list-group border-0"></ul>
                                        <input type="hidden" asp-for="Specifications" />                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom05">Price($)</label>
                                        <input type="number"
                                               class="form-control"
                                               id="validationCustom05"
                                               placeholder="Price"
                                               asp-for="Price"
                                               required />
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom06">Delivery fee($)</label>
                                        <input type="number"
                                               class="form-control"
                                               id="validationCustom06"
                                               asp-for="Delivery"
                                               placeholder="Delivery"
                                               required />
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom07">Stock</label>
                                        <input type="number"
                                               class="form-control"
                                               id="validationCustom07"
                                               asp-for="Stock"
                                               placeholder="Stock"
                                               required />
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom08">Reviews</label>
                                        <input type="number"
                                               class="form-control"
                                               id="validationCustom08"
                                               placeholder="Reviews"
                                               asp-for="Reviews"
                                               required />
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom09">ReviewScore</label>
                                        <select class="form-control"
                                                id="validationCustom09"
                                                asp-for="ReviewScore"
                                                required aria-label="Default select example">
                                            <option selected>Select Score</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3">3</option>
                                            <option value="3.5">3.5</option>
                                            <option value="4">4</option>
                                            <option value="4.2">4.2</option>
                                            <option value="4.5">4.5</option>
                                            <option value="4.7">4.7</option>
                                            <option value="4.9">4.9</option>
                                            <option value="5">5</option>
                                        </select>

                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="validationCustom08">SKU</label>
                                        <input type="number"
                                               class="form-control"
                                               id="validationCustom08"
                                               placeholder="SKU"
                                               asp-for="SKU"
                                               required />
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button class="btn btn-primary" type="submit">
                                    Submit form
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end validation form -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
