@{
    int cart_item_count = 0;
}

@if (ViewBag.cart != null)
{
    foreach (var item in ViewBag.cart)
    {
        cart_item_count += item.Quantity;
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopClient</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/libs/css/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <style>
        .subtract-w{
            background-color: #319DFF;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: flex;
            cursor: pointer;
        }
        .bookmark-icon{
            right: 0;
            top: 0.5rem;
            color: #D1D1D1;
            cursor:pointer;
        }
        .product-card-comp{
            max-height: 24rem;
            min-height:24rem;
        }
        .product-card-img{
            min-height:15rem;
        }
        .card-addtocart-btn{
            border-radius:100px;
            background-color: #319DFF;
        }
        .product-cart-title{
            color: #319DFF;
            cursor:pointer;
        }

        .product-cart-title:hover{
            text-decoration: underline;
            color:#319DFF
        }
        .rounded-circle-full {
            border-radius: 5rem;
        }
        .rounded-circle-left {
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
        }
        .search-select {
            max-width: 7rem;
        }
        .search-form-w {
            width: 40rem;
        }

        .email-form-w{
            width: 25rem;
        }

        .navbar-brand-custom-1{
            padding-left: 1rem;
        }
        .navbar-brand-custom-gap{
            font-size:18px;
        }
        .navbar{
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-brand{
            padding: 0;
        }

        .container-fluid{
            padding: 0;
        }
        .bg-mygray{
            background-color: #EEF0F4;
        }

        .footer-product{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body class="bg-white">
<div class="dashboard-ecommerce">
   <div class="container">
    <header class="">
       <nav class="navbar navbar-light">
      <div class="container-fluid">
          <div class=" align-content-center">
             <a asp-controller="Home" asp-action="Index" class="navbar-brand">MobiShop</a>
             <a asp-controller="Products" asp-action="Index" class="font-18">Shop</a>
          </div>
        @using (Html.BeginForm("Search", "Products", FormMethod.Get))
         {   
        <div class="d-flex input-group search-form-w">         
          <input
            type="text"
            class="form-control rounded-circle-full"
            placeholder="Search for products"
            aria-label="Search"
            name="searchTerm"
            aria-describedby="search-addon"
          />
          <select class="custom-select search-select" name="" id="">
            <option value="">All Item</option>
          </select>
          <button type="submit" class="input-group-text px-3 bg-primary border-0 rounded-circle-left">
            <i class="fas fa-search text-white"></i>
          </button>       
        </div>
        }
        <div class="navbar-brand-custom-gap">
          <a class="navbar-brand-custom"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
          <a asp-controller="Cart" asp-action="Index" class="navbar-brand-custom navbar-brand-custom-1"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
          @cart_item_count
        </div>
      </div>
    </nav>
    </header>
   </div>
</div>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-4" style="background-color: #3B4758;">
            <div class="container d-flex align-items-baseline text-white font-18 justify-content-between">
            Subscribe for our newsletter
                @using (Html.BeginForm("Subscribe", "Subscribers", FormMethod.Post))
                {  
                <div class="d-flex input-group email-form-w">
                    <input type="text"
                       class="form-control rounded-circle-full"
                       placeholder="Email address"
                       aria-label="Email"
                       name="email"/>
                    <button  class="input-group-text email-btn px-3 bg-primary border-0 rounded-circle-left">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
                }
            </div>
        </div>
        <!-- Section: Social media -->
        <section class="d-flex container justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3 text-left">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        @if (ViewBag.ProductForFooter != null)
                        {
                            foreach (var item in ViewBag.ProductForFooter)
                            {
                                <p class="footer-product">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="text-reset">@item.Title</a>
                                </p>
                            }
                        }
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com

                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">MobiShop</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <script>
        jQuery(
            '<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>'
        ).insertAfter(".quantity input");
        jQuery(".quantity").each(function () {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find(".quantity-up"),
                btnDown = spinner.find(".quantity-down"),
                min = input.attr("min"),
                max = input.attr("max");

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
