<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopClient</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/libs/css/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css"/>
    <style>
        .subtract-w{
            background-color: #319DFF;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: flex;
            cursor: pointer;
        }
        .bookmark-icon{
            right: 0;
            top: 0.5rem;
            color: #D1D1D1;
            cursor:pointer;
        }
        .product-card-comp{
            max-height: 24rem;
            min-height:24rem;
        }
        .product-card-img{
            min-height:15rem;
        }
        .card-addtocart-btn{
            border-radius:100px;
            background-color: #319DFF;
        }
        .product-cart-title{
            color: #319DFF;
            cursor:pointer;
        }

        .product-cart-title:hover{
            text-decoration: underline;
            color:#319DFF
        }
        .rounded-circle-full {
            border-radius: 5rem;
        }
        .rounded-circle-left {
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
        }
        .search-select {
            max-width: 7rem;
        }
        .search-form-w {
            width: 40rem;
        }

        .navbar-brand-custom-1{
            padding-left: 1rem;
        }
        .navbar-brand-custom-gap{
            font-size:18px;
        }
        .navbar{
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-brand{
            padding: 0;
        }

        .container-fluid{
            padding: 0;
        }
        .bg-mygray{
            background-color: #EEF0F4;
        }
    </style>
</head>
<body class="bg-white">
<div class="dashboard-ecommerce">
   <div class="container">
    <header class="">
       <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        @using (Html.BeginForm("Search", "Products", FormMethod.Get))
         {   
        <div class="d-flex input-group search-form-w">         
          <input
            type="text"
            class="form-control rounded-circle-full"
            placeholder="Search for products"
            aria-label="Search"
            name="searchTerm"
            aria-describedby="search-addon"
          />
          <select class="custom-select search-select" name="" id="">
            <option value="">All Item</option>
          </select>
          <button type="submit" class="input-group-text px-3 bg-primary border-0 rounded-circle-left">
            <i class="fas fa-search text-white"></i>
          </button>       
        </div>
        }
        <div class="navbar-brand-custom-gap">
          <a class="navbar-brand-custom"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
          <a class="navbar-brand-custom navbar-brand-custom-1"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        </div>
      </div>
    </nav>
    </header>
   </div>
</div>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShopClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <script>
        jQuery(
            '<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>'
        ).insertAfter(".quantity input");
        jQuery(".quantity").each(function () {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find(".quantity-up"),
                btnDown = spinner.find(".quantity-down"),
                min = input.attr("min"),
                max = input.attr("max");

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
