@model List<ShopClient.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .category-card {
        padding: 1rem;
        overflow: hidden;
        border: none;
        background-color: white;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: none;
        text-align: center;
        max-width: 15rem;
        min-width: 15rem;
        min-height: 15rem;
        max-height: 15rem;
    }

        .category-card img {
            padding-top: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: auto;
            width: 100%;
        }

        .category-card .card-title {
            text-align: center;
        }

    .card-title {
        padding-top: 0.5rem;
    }

    .category-card:hover {
        transform: scale(1.02);
        transition: 0.3s;
    }

    .border-bttom-category {
        border-bottom: 2px solid;
        width: fit-content;
        padding-bottom: 3px;
    }
    .category-card-main{

    }
</style>
<div class="">
    <div class="dashboard-ecommerce">
        <div class="container">
           <!-- Home page Hero--> 
            
        </div>
    </div>
</div>
<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <img class="w-100" src="~/assets/images/Shop_Features_v1.png" />
        </div>
    </div>
</div>
<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <!-- Featured Products-->

        </div>
    </div>
</div>
<div class="bg-mygray py-5">
<div class="dashboard-ecommerce">
    <div class="container">
        <div class="">
            <p class="border-bttom-category mb-4 border-primary">Category</p>
        </div>
    <div class="row max-width-collection">
      <!-- Single Product -->
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3 category-card-main">
                            <div class=" category-card">
                                <p class=" font-16">@item.Name</p>
                                <img class="" src="@ViewBag.AdminWebUrl@item.PictureUrl" alt="" />
                            </div>
                        </div>
                    }
                }
            </div>
    </div>
</div>
</div>

<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <img class="w-100" src="~/assets/images/2_col_banner_v1.png" />
          </div>
    </div>
</div>