@model List<ShopClient.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .category-card {
        padding: 1rem;
        overflow: hidden;
        border: none;
        background-color: white;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: none;
        text-align: center;
        max-width: 15rem;
        min-width: 15rem;
        min-height: 15rem;
        max-height: 15rem;
    }

        .category-card img {
            padding-top: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: auto;
            width: 100%;
        }

        .category-card .card-title {
            text-align: center;
        }

    .card-title {
        padding-top: 0.5rem;
    }

    .category-card:hover {
        transform: scale(1.02);
        transition: 0.3s;
    }

    .border-bttom-category {
        border-bottom: 2px solid;
        width: fit-content;
        padding-bottom: 3px;
    }
    .category-card-main{

    }





    
 .carousel {
	margin: 50px 0;
    background: #ffffff;
} 


.carousel .carousel-item {
    text-align: center;
	
    height: 470px;
}
.carousel .carousel-item img {
	max-width: 100%;
    margin: 0 auto; /* Align slide image horizontally center in Bootstrap v3 */
}
.carousel-caption h3, .carousel-caption p {
	color: #0a0a0a;
	display: flex;
	font-family: 'Oswald', sans-serif;
	text-shadow: none;
	margin-bottom: 250px;

}
.carousel{
	
	margin-left: auto;
}
.button {
    border: none;
	font-size: 15px;
    outline: 0;
    display: inline-block;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    background-color: #2385da;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .button:hover {
    background-color: #05054d;
    color: white;
  }
  .text {
	color: #090909;
	font-size: 50px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 8px 12px;
	position: absolute;
	bottom: 285%;
	right: 5%;
	width: 100%;
	text-align: left;
  }




</style>

@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto:300,400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="C:\Users\User\Desktop\heroo\heroo.css">
<script src="C:\Users\User\Desktop\hero\heroo.js"></script>*@
<div class="">
    <div class="dashboard-ecommerce">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img src="C:\Users\User\Desktop\heroo\Pictures\banner_01.png">
                                    <div class="carousel-caption">
                                        <div class="text">
                                            NEW <b>NAMPHONE</b> <br>
                                            RELEASE THIS FALL
                                            <br>
                                            <button class="button"><b>Find Out More</b> </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="C:\Users\User\Desktop\heroo\Pictures\banner_02.png">
                                    <div class="carousel-caption">
                                        <div class="text">
                                            <b>PLAYBOX</b> CONSOLE <br>
                                            X245-HD
                                            <br>
                                            <button class="button"><b>Find Out More</b> </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="C:\Users\User\Desktop\heroo\Pictures\banner_03.png">
                                    <div class="carousel-caption">
                                        <div class="text">
                                            KEEP YOUR SHAPE WITH<br>
                                            ALL NEW <b>GADGETS</b>
                                            <br>
                                            <button class="button"><b>Find Out More</b> </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <img class="w-100" src="~/assets/images/Shop_Features_v1.png" />
        </div>
    </div>
</div>
<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <!-- Featured Products-->

        </div>
    </div>
</div>
<div class="bg-mygray py-5">
<div class="dashboard-ecommerce">
    <div class="container">
        <div class="">
            <p class="border-bttom-category mb-4 border-primary">Category</p>
        </div>
    <div class="row max-width-collection">
      <!-- Single Product -->
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3 category-card-main">
                            <div class=" category-card">
                                <p class=" font-16">@item.Name</p>
                                <img class="" src="@ViewBag.AdminWebUrl@item.PictureUrl" alt="" />
                            </div>
                        </div>
                    }
                }
            </div>
    </div>
</div>
</div>

<div class="my-5">
    <div class="dashboard-ecommerce">
        <div class="container">
            <img class="w-100" src="~/assets/images/2_col_banner_v1.png" />
          </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Highlight bottom nav links
        var clickEvent = false;
        $("#myCarousel").on("click", ".nav a", function () {
            clickEvent = true;
            $(this).parent().siblings().removeClass("active");
            $(this).parent().addClass("active");
        }).on("slid.bs.carousel", function (e) {
            if (!clickEvent) {
                itemIndex = $(e.relatedTarget).index();
                targetNavItem = $(".nav li[data-slide-to='" + itemIndex + "']");
                $(".nav li").not(targetNavItem).removeClass("active");
                targetNavItem.addClass("active");
            }
            clickEvent = false;
        });
    });
</script>