<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="C:\Users\User\Desktop\Productpage\Productpage.css">
    <script src="C:\Users\User\Desktop\Productpage\Productpage.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone1.png" alt = "shoe image">
              <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone2.png" alt = "shoe image">
              <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone3.png" alt = "shoe image">
              <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone4.png" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone1.png" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone2.png" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone3.png" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "C:\Users\User\Desktop\Productpage\Picture\iphone4.png" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Apple iPhone 14 Pro, LTPO Super Retina XDR OLED 6.1" (Black)</h2>
          <p class="brand"><b>Brand</b></p>
          <a href = "#" class = "product-link">iMADE</a>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "product-price">
           
            <p class = "new-price">Price: <span>$1200.00</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>Apple iPhone 14 128 GB 6 GB is the new mobile from Apple that was launched in India on September 7, 
                2022 (Official). This mobile is available at a starting price of Rs 79,900 in different color options.
                 The mobile from Apple comes with a 6.1 inches (15.49 cm) display that has a resolution of 2532 x 1170 Pixels.</p>

            <p>Furthermore, the aspect ratio of the Apple iPhone 14 128 GB 6 GB is 19.5:9 so that you can enjoy vivid and crystal 
                clear visuals while watching videos, playing games, or streaming movies online..</p>
            
            <ul>
              <li>Color: <span>Black</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>Smartphones</span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn">
              Add to Cart <i class = "fas fa-shopping-cart"></i>
            </button>
            <button type = "button" class = "btn">Compare</button>
          </div>

          <!-- <div class = "social-links">
            <p>Share At: </p>
            <a href = "#">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-instagram"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-whatsapp"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-pinterest"></i>
            </a>
          </div> -->



        </div>
      </div>
    </div>
  </body>
</html>